<template>
    <div>
    <div class="container">
        <div class="card action_form">
            <div><img style="width:200px; float:right;" src="/images/haix.png"></div>
            <div class="action_form_row">
                <div class="right_widt">
                    <strong>Event name</strong><input v-model.lazy="newEvent.eventName" class="event_name right_margin" placeholder="Text input with system keyboard" required/>
                </div>
                <div class="right_widt">
                    <strong>Display raffle:</strong><input type="checkbox" v-model.lazy="newEvent.raffle" class="input_margin" required/>
                </div>
                <div class="right_widt">
                    <strong>Display newsletter:</strong><input type="checkbox" v-model.lazy="newEvent.newsletter" class="input_margin" required/>
                </div>
                <div class="right_widt">
                    <strong class="input_margin">Language:</strong>
                    <select v-model.lazy="newEvent.language" style="font-size: 20px;">
                        <option selected="selected">German</option>
                        <option selected="selected">English</option>
                    </select>
                </div>
                <div class="right_widt">
                    <button @click.prevent="createEvent" :class="{ validationChecked: validationCheck }" :disabled="validationCheck" class="send_button create_event">Create Event</button>
                </div>
            </div>
        </div>
    </div>
        <div class="vue_good_table">
            <vue-good-table style="margin: 5% 0;" :columns="columns" :rows="events" :pagination-options="{
                enabled: true,
                mode: 'records',
                perPage: 10,
                position: 'down',}">
                <template slot="table-row" slot-scope="props">
                    <span v-if="props.column.field == 'download_csv_file'">
                        <center>
                        <a title="Download Event csv-file" :href="genereteCSVroutes(props.index)"><img class="table_img" src="/images/download.jpg" title="Download Event csv-file"/></a><!--https://i.pinimg.com/736x/85/b6/50/85b6504c4c711eeeb81f8bfccb3dc841.jpg-->
                        </center>
                    </span>
                    <span v-else-if="props.column.field == 'copy_to_clipboard'">
                        <button @click="copyClipboard(props.index)" style="background-color: transparent; border: none;"><img class="table_img" src="/images/copytoclipboard.png" title="Cope Event Link to Clipboard"/></button>
                    </span>
                    <span v-else-if="props.column.field == 'go_to_event_page'">
                        <center>
                            <a :href="goToEvent(props.index)" target="_blank"><img class="table_img" src="/images/gotoevent.png" title="Go to Event Page"/></a>
                        </center>
                    </span>
                    <span v-else-if="props.column.field == 'raffle'">
                        <center><input @change="onEventChange(props.index)" type="checkbox" v-model.lazy="events[props.index].raffle"/></center>
                    </span>
                    <span v-else-if="props.column.field == 'newsletter'">
                        <center><input @change="onEventChange(props.index)" type="checkbox" v-model.lazy="events[props.index].newsletter"/></center>
                    </span>
                    <span v-else-if="props.column.field == 'event_link'">
                        <center>
                            <textarea :id="'evname' + props.index" v-model="events[props.index].event_link" readonly></textarea>
                            <button v-if="isUpdateIndex == props.index" @click="onUpdateEvent(props.index)" style="color:white; background-color: #1BA1E2;">UPDATE EVENT</button>
                        </center>
                    </span>
                    <span v-else-if="props.column.field == 'event_name'">
                        <center>
                            <input @change="onEventChange(props.index)" v-model.lazy="events[props.index].event_name"/>
                        </center>
                    </span>
                    <span v-else-if="props.column.field == 'event_lang'">
                        <p>{{ events[props.index].language }}</p>
                    </span>
                </template>
            </vue-good-table>
        </div>
    </div>
</template>

<script>
    import { METHODS } from 'http';
    import VueSignaturePad from 'vue-signature-pad';
    import 'vue-good-table/dist/vue-good-table.css'
    import { VueGoodTable } from 'vue-good-table';

    Vue.use(VueSignaturePad);

    export default {
        components: {
            VueGoodTable,
        },
        props: {
            events: {
                required: true,
            },
        },
        created() {
            this.defineLang();
            console.log(this.events);
            // this.events = this.events;
        },
        computed: {
            validationCheck() {
                if (this.newEvent.eventName !== '' && (this.newEvent.raffle || this.newEvent.newsletter)) {
                    return false;
                } else {
                    return true;
                }
            },
        },
        data() {
            return {
                isUpdateIndex: null,
                newEvent: {
                    eventName: '',
                    raffle: 0,
                    newsletter: 0,
                    language: 'German',
                    lang_id: 1,
                },
                columns: [
                    {
                        label: 'Event name',
                        field: 'event_name',
                    },
                    {
                        label: 'Raffle',
                        field: 'raffle',
                        html: true,
                    },
                    {
                        label: 'Newsletter',
                        field: 'newsletter',
                        html: true,
                    },
                    {
                        label: 'Date created',
                        field: 'created_at',
                    },
                    {
                        label: 'Event link',
                        field: 'event_link',
                        html: true,
                    },
                    {
                        label: 'Event language',
                        field: 'event_lang',
                    },
                    {
                        label: 'Signups',
                        field: 'signups',
                    },
                    {
                        label: 'Download csv-file',
                        field: 'download_csv_file',
                        html: true,
                    },
                    {
                        label: 'Copy to clipboard',
                        field: 'copy_to_clipboard',
                        html: true,
                    },
                    {
                        label: 'Go to event page',
                        field: 'go_to_event_page',
                        html: true,
                    },
                ],
                updateIndex: [],
            }
        },
        methods: {
            onEventChange(index) {
                this.isUpdateIndex = index;
                if (this.events[index].raffle == false && this.events[index].newsletter == false) {
                    this.isUpdateIndex = -1;
                }
            },
            async onUpdateEvent(index) {
                this.isUpdateIndex = index;
                await axios.post(laroute.route('admin.update_event'), { eventData: this.events[index] }).then((response) => {
                    alert('event saved successfully');
                    this.isUpdateIndex = -1;

                }).catch((error) => console.log('Error with saving event with response: ', error));
            },
            async createEvent () {
                this.newEvent.lang_id = 1;
                if (this.newEvent.language == 'English') {
                    this.newEvent.lang_id = 2;
                }
                await axios.post(laroute.route('admin.create_event'), { eventData: this.newEvent }).then((response) => {
                    document.location.href = window.location.href;
                }).catch((error) => alert('Error with saving event with response: ', error));
            },
            copyClipboard (index) {
                const cutTextarea = document.querySelector('#evname' + index);
                cutTextarea.select();

                try {
                    const successful = document.execCommand('copy');
                    window.getSelection().removeAllRanges();
                } catch(err) {
                    console.log('Oops, unable to copy');
                }
            },
            goToEvent (index) {
                const link = $("#evname" + index).val();

                return link;
            },
            genereteCSVroutes (index) {
                return laroute.route('admin.csv_generate', { eventData: this.events[index].id });
            },
            defineLang () {
                this.events.forEach(event => {
                    event.language = 'English'
                    if (event.langs_id == 1) {
                        event.language = 'German'
                    }
                });
            },
        }
    }
</script>
