<template>
        <div class="container">
            <div class="success_saved">
                <div class="congratulations">
                    <p style="font-size: 200%;">{{ langs.thank_you_for_participating.value }}</p>
                </div>
            </div>
            <div class="user_authorize_form">
                <div><img style="width:200px; float:right;" src="/images/haix.png"></div>
                <h1>{{ event.event_name }}</h1>
                <form @submit.prevent="validation">
                    <div class="define_width">
                        <div class="event_form">
                            <div class="align_form_element"><strong>{{ this.langs.first_name.value }}</strong><br><input v-model.lazy="newUser.firstname" class="event_form_inputs" required/></div>
                            <div class="align_form_element"><strong>{{ this.langs.last_name.value }}</strong><br><input v-model.lazy="newUser.lastname" class="event_form_inputs" required/></div>
                            <div class="align_form_element"><strong>E-Mail</strong><br><input v-model.lazy="newUser.e_mail" type="email" class="event_form_inputs" style="width: 150%;" required/></div>
                        </div>
                        <div style="display: flex;">
                            <div v-if="event.raffle" class="align_form_element">
                                <input type="checkbox" class="input_type" v-model.lazy="newUser.raffle"/><br>
                                <label class="check"><strong>{{ this.langs.participate_in_raffle.value }}</strong></label>
                            </div>
                            <div v-if="event.newsletter" class="align_form_element">
                                <div>
                                    <input type="checkbox" class="input_type" v-model.lazy="newUser.newsletter"/><br>
                                    <label class="check"><strong>{{ this.langs.signup_for_newsletter.value }}</strong></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="margin: 5% 0 0;">
                        <div style="width: 80%;">
                            <div class="relative">
                                <div class="buttons_div">
                                    <button @click.prevent="clear" class="send_button" style="bottom:20%">{{ langs.clear.value }}</button>
                                    <button :class="{ validationChecked: validationCheck }" :disabled="validationCheck" class="send_button">{{ langs.send.value }}</button>
                                </div>
                                <div class="card event_signature_pad">
                                    <VueSignaturePad width="100%" height="300px" ref="signaturePad" :options="{ onEnd }"/>
                                </div>
                            </div><br>
                            <p class="event_p"><strong>{{ this.langs.please_sign_here_with_finger.value }}</strong></p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
</template>

<script>

    import VueSignaturePad from 'vue-signature-pad';
    import $ from 'jquery';
    import { setTimeout } from 'timers';

    export default {
        props: {
            langs: {
                required: true,
            },
            event: {
                required: true,
            },
        },
        data() {
            return {
                newUser: {
                    event_id: window.location.href,
                    firstname: '',
                    lastname: '',
                    e_mail: '',
                    raffle: 0,
                    newsletter: 0,
                    userSignature: null,
                },
                errors: {
                    signature: false,
                },
            }
        },
        mounted() {
            const index = window.location.href.indexOf('id=') + 3;
            this.newUser.event_id = window.location.href.substr(index);
        },
        computed: {
            validationCheck() {
                console.log('firstname = ', this.isHaveEventRaffleOrNewsletter());
                if (this.newUser.firstname !== '' && this.newUser.lastname !== '' && this.newUser.e_mail !== '' && this.isHaveEventRaffleOrNewsletter() && this.newUser.userSignature) {
                    return false;
                } else {
                    return true;
                }
            }
        },
        methods: {
            async validation() {
                await axios.post(laroute.route('client.events.save_new_user'), { newUser: this.newUser}).then((response) => {
                    console.log('pdf-signature saved successfully');
                    $(".success_saved").css('height', window.screen.height);
                    $(".success_saved").css('display', 'flex');
                    $(".user_authorize_form").css('display', 'none');
                    setTimeout(() => {
                        document.location.href = window.location.href;
                    }, 3000);
                }).catch((error) => alert(this.langs.you_already_signed_up.value));
            },
            clear() {
                this.$refs.signaturePad.clearSignature();
                const { isEmpty, data } = this.$refs.signaturePad.saveSignature();
                this.newUser.userSignature = data;
            },
            onEnd() {
                const { isEmpty, data } = this.$refs.signaturePad.saveSignature();
                this.newUser.userSignature = data;
            },
            isHaveEventRaffleOrNewsletter() {
                if (this.event.raffle || this.event.newsletter) {
                    if (this.newUser.raffle || this.newUser.newsletter) {
                        return true;
                    } else {
                        return false;
                    }
                } else {
                    return true;
                }
            },
        },
    }
</script>
