table {
    border: 1px solid black;
    border-collapse:collapse;
};
td {
    border: 1px solid black;
};
th {
    border: 1px solid black;
};
.error_signature {
    color:red;
};
h1 {
    margin-bottom: 3%;
    font-size: 60px;
}
input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  transform: scale(2);
  padding: 10px;
}

// event page

.user_authorize_form {
    margin: 3%;
}
.send_button {
    background-color: #1BA1E2;
    color:white;
    font-size: 200%;;
    width: 200px;
    height: 100px;

}

.validationChecked {
    background-color: grey;
}

.relative {
    position: relative;
}

.buttons_div {
    width: 25%;
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
}

.success_saved {
    display:none;
    width:100%;
    justify-content: center;
    align-items: center;
}
.congratulations {
    width: 50%;
    text-align: center;
    height: 50%;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: white;
}
.define_width {
    width: 60%;
}

.event_form {
    display:flex;
    flex-wrap: wrap;
    height: 200px;
}

.align_form_element {
    width: 40%;
}

.event_form_inputs {
    height: 30%;
    width: 85%;
}

.right_margin {
    margin: 4% 0%;
}

.input_type {
    margin: 0 0 10px 10px;
}

.event_signature_pad {
    background-color: white;
    width: 70%;
}

.event_p {
    text-align: center;
    width: 60%;
}


// event action page

.right_widt {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input_margin {
    margin: 4% 6%;
}

.action_form {
    background-color: #EBEBEB;
    border: none;
    width: 100%;
}

.action_form_row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 5% 2%;
}

.event_name {
    height: 40px;
    width: 80%;
}

.create_event {
    float: right;
    font-size: 20px;
    height:50px;
    width: 80%;
}

.table_img {
    width: 50px;
}

@media screen and (min-width: 768px) {
    .vue_good_table {
        margin: 0 3%;
    }
}
@media screen and (min-width: 1500px) {
    .vue_good_table {
        margin: 0 15%;
    }
}
@media screen and (min-width: 1024px) {
    .right_widt {
        width: 20%;
        flex-direction: row;
    }
}
